h2{
    display: flex;
    justify-content: center;
    margin-top: 25%;
    color: brown;
    font-size: 39px;
}

h3{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: chartreuse;
    font-size: 39px;
}